.env
__pycache__/
*venv
*.DS_STORE
# Virtual Environment
venv/
env/
.env/
*data
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

#files
*full_data.csv